<footer class="text-center text-lg-start bg-white text-muted">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2023 - Vladislav Alikin</span>
        </div>
    </div>
</footer>